  .overlay{
    background: black;  
    position: absolute;   
    top: 0;               
    right: 0;             
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 40000;
  }
   .container{
    margin: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top:0px;
    right:450px;
    width: 100%; 
   }
    .CodeMirror {
    min-height: 43em;
    }
    .row{
        height: 100%;
        margin-left:-15px;
    }
    .col-md-3{
        width: 12%;
        height: 100%;
        overflow-y: auto;
        background-color: #34302f;
        border-right: thin solid #504c49;
        border-left: thin solid #2F2F2F;
        color:#8fc13e;
        padding-left: 1%;
    }
    .waste{
      width:15%;
      height: 100%;
      z-index: 20;
      overflow-y: hidden;
      background-color:  #d6d5d4;
      border-right: thin solid #d6d5d4;
      border-left: thin solid white;
    }
    .col-md-6 {
      width:73%;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: thin solid #5c5855;
      border-top: thin solid #5c5855;
      height:100%;
      overflow-y:auto;
      background: #34302f;
      padding: 0px 0px 0px 0px;
      z-index: 20;
    }
    .codearea{
      position: relative;
      padding-left: 0px;
    }
    
    .selected{
      background-color: #2c2827;
      width: 100%;
      height: 100%;
      color: white;
    }
    .save{
      color: white;
     
    }
    .save:hover {
      color:#5c5855;
    }
    .options{
      padding-left: 4%;
      padding-top: 1.5%;
      padding-bottom: 1%;
    }
    .form-control:focus{
      border-color: #5c5855;
      box-shadow: 0 1px 1px #5c5855 inset, 0 0 1px black;
    }
    .fa-github{
        color: #34302f;  
        /*color: white;*/
    }
    .fa-github:hover{
        /*color: #34302f;  */
        color: white;
    }
    #codes-list{
      padding-left: 8%;
      padding-top: 3%;
    }
    .spinner {
  /*margin: 100px auto;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*position: relative;*/
  position: absolute;
    height: 90px;
    width: 280px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}
.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

 